OPENROUTE_API_KEY = "YOUR_OPENROUTE_API_KEY"
HERE_API_KEY = "YOUR_HERE_API_KEY"

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

REACT_APP_API_URL=http://localhost:5173/

AI_TRAFFIC_THRESHOLD=0.7
MAX_ALTERNATIVE_ROUTES=3
TRAFFIC_UPDATE_INTERVAL=300  # seconds